/* .FItem{
    background-color: blue;
} */

.Fields{
    height: inherit;
    /* background-color: blue; */

    display: flex;
}


.IconMenu{
    background-color: 	#0065a9;
    width:80px;
}


.FieldArea{
    background-color: 1e1e1e;
    min-width: 250px;
}
