
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #131417;
  overflow-x: hidden;
  height: 100%;
}

h1 {
  color: white;
  font-size: 35px;
  font-weight: 800;
}

.flex-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
    padding: 0 40px;
    width: 500px;
    /* height: 350px; */
}
img{
    margin:20px;
    height: 92vh;
    border-radius: 20px;
}
img:hover{
    box-shadow: 10px 10px 5px  #cb13d8;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 500px;
  height: 350px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}
.form-container:hover{
    box-shadow: 5px 5px 10px rgba(45, 44, 44, 0.199);
    
}

.subtitle {
  font-size: 18px;
  color: rgb(121, 117, 117);
}

.input-style {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  background-color: #444;
}

.btn {
  padding: 10px;
  margin: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  transition: transform 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  transform: translateY(-3px); 
}

.new-user-btn {
  background-color: #28a745; 
}

.new-user-btn:hover {
  background-color: #218838; 
}
