/* .item{
    background-color: lightblue;
} */


.SideBar{
    background-color: #3e3e42;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 20rem;
}
/* .SBItem{
    background-color: yellow;
} */

.Intro{
    background-color: #0098ff;
    min-height: 40px;
    min-width: 200px;
    font-size: larger;
    text-align: center;
    line-height: 40px;
}